<%= form_for(@meme) do |f| %>
  <% if @meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
      <% @meme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :recommended %><br>
    <%= f.number_field :recommended %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
